.deletes{
    display: flex;
    flex-direction: column;
    gap:10px  ;
    padding: 10px;

    
}

.whole-delete{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: solid black 5px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 1);
   
}

.remove-space{
    padding: 0;
    margin: 0;
}