.hidden {
    display: none;
  }

  .navbar {
    /* background-color: blue; */
    display: flex;
    list-style: none;
    justify-content: space-between;
  }

  .spot-profile{
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    
  }
  .logo-div {
    max-width: 8rem;
    display: flex;
    justify-content: left;
  }

  .profile-dropdown{
    list-style: none;
    position: absolute;
    right: 0;
  }
/* .drop-options{
  padding: 20px;
} */
   .nav-link{
text-decoration: none;
color: black;
  }
  .button-border{
    padding: 2px;
    display: flex;
    justify-content: center;
  }
  .nav-button{
    display: flex;
    align-items: center;
    border: solid black 2px;
    border-radius: 0%;
    color: blue;
    background-color: white;
  }

  .profile-dropdown{
    border: solid 4px black;
    border-radius: 11px;
  } 